body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4682B4;
    color: white;
}

td {
    background-color: #fff;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(51, 51, 90);
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

button.on {
    background-color: #4CAF50;
    color: white;
}

button.off {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.flowchart {
    position: relative;
    margin-bottom: 20px;
}


.block {
   
    width: 100px;
    height: 50px;
    position: absolute;
    padding: 20px;
    background-color: black;
    text-align: center;
    color: white;
    
}

#power-plant {
    top: 20px;
    left: 207px;
}

#power-grid {
    top: 20px;
    left: 500px;
}

#mseb {
    top: 20px;
    left: 830px;
}

#jsw-kalameshwer {
    top: 180px;
    left: 500px;
    margin-top: 20px;
}


@keyframes moveArrow {
    0% { transform: translateX(270px); }
    100% { transform: translateX(475px); }
}

#arrow, #arrow2 {
    position: absolute;
    transform-origin: center;
    animation: moveArrow 2s linear infinite;
    visibility: hidden; 
}

#arrow2 {
    animation-delay: 1s; /* Delay to follow the first arrow */
}

@keyframes moveArrow2 {
    0% { transform: translateX(475px); }
    100% { transform: translateX(270px); }
}

#arrow3, #arrow4 {
    position: absolute;
    transform-origin: center;
    animation: moveArrow2 2s linear infinite;
    visibility: hidden; 
}

#arrow4 {
    animation-delay: 1s; /* Delay to follow the first arrow */
}
.navbar {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
    width: 100%;
    box-sizing: border-box;
   position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.title {
    font-size: 1.3em;
    
}

.on-btn {
    background-color: green;
    color: white;
}

.off-btn {
    background-color: red;
    color: white;
}

.delete-btn {
    background-color: gray;
    color: white;
}

.delete-btn:hover {
    background-color: darkgray;
}